<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.page1" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:name="com.example.page1.main_form_copy_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"
		android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.example.page1.streaming_video_screen_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:exported="true"  >
			<intent-filter>
				<action android:name="com.example.page1.streaming_video_screen_activity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.example.page1.choose_the_program_screen_activity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:exported="true"  >
			<intent-filter>
				<action android:name="com.example.page1.choose_the_program_screen_activity" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>


	</application>

</manifest>
	
	